NL2SQL_API_URL=http://host.docker.internal:5000/nl2sql/query
NL2SQL_API_KEY=
CHAT_CACHE_TTL_MINUTES=360
CHAT_MAX_MESSAGES=40
MYSQL_DEMO_USER=demo
MYSQL_DEMO_PASSWORD=demo1234
MYSQL_DEMO_DB=sakila
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
INSTALL_YII_ON_BOOT=false
