NL2SQL_API_URL=https://potential-cod-556v6v94xv34wgr-5000.app.github.dev/nl2sql/query
NL2SQL_API_KEY=JWT_API_KEY_PLACEHOLDER
CHAT_CACHE_TTL_MINUTES=360
CHAT_MAX_MESSAGES=40
MYSQL_DEMO_USER=demo
MYSQL_DEMO_PASSWORD=demo1234
MYSQL_DEMO_DB=sakila
MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
INSTALL_YII_ON_BOOT=false
